.crop-prediction {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #28a745;
    border-radius: 60px;
  }
  .crop-prediction-2 {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #28a745;
    border-radius: 60px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
  }
  
  .input-container label {
    font-weight: 600;
    color: #333;
    margin-right: 10px;
    font-size: 16px;
  }
  .monitoring-head{
    font-size: 30px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
  }
  .input-container input {
    padding: 10px 12px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  .monitoring-head {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* For screens with a minimum width of 1190px */
  @media (min-width: 1190px) {
    .crop-prediction-2 {
      display: block;
      width: 100%;
      padding: 0 20px;
    }
  
    table {
      width: 100%;
    }
  
    th, td {
      padding: 15px;
    }
  }
  
  /* For screens with a minimum width of 998px */
  @media (min-width: 998px) {
    .crop-prediction-2 {
      width: 80%;
      margin: 0 auto;
    }
  
    table {
      width: 100%;
    }
  
    th, td {
      padding: 12px;
    }
  }
  
  /* For screens with a minimum width of 768px */
  @media (min-width: 768px) {
    .crop-prediction-2 {
      width: 90%;
      margin: 0 auto;
    }
  
    table {
      width: 100%;
    }
  
    th, td {
      padding: 10px;
    }
  
    .monitoring-head {
      font-size: 20px;
    }
  }
  
  /* For screens with a maximum width of 600px */
  @media (max-width: 600px) {
    .crop-prediction-2 {
      width: 100%;
      padding: 10px;
    }
  
    table {
      width: 100%;
    }
  
    th, td {
      padding: 8px;
    }
  
    .monitoring-head {
      font-size: 18px;
    }
  }
  
  /* For screens with a maximum width of 500px */
  @media (max-width: 500px) {
    .crop-prediction-2 {
      width: 100%;
      padding: 5px;
    }
  
    table {
      width: 100%;
    }
  
    th, td {
      padding: 6px;
    }
  
    .monitoring-head {
      font-size: 16px;
    }
  }
  
  /* For screens with a maximum width of 400px */
  @media (max-width: 400px) {
    .monitoring-head {
      font-size: 14px;
    }
  }