.landing {
  width: 80%;
  margin: auto;
  font-family: Arial, sans-serif;
}

.tab-buttons {
    background-image: url('./images/bg.png');
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  overflow: hidden;
}

.tab-button {
  flex: 1;
  padding: 14px 0;
  cursor: pointer;
  background-color: #ecf39e;
  border: none;
  transition: background 0.3s, color 0.3s;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #000;
}

.tab-button.active {
  background-color: #31572c;
  color: white;
}

.tab-button:hover {
  background-color: #90a955;
  color: #333;
}

.tab-content {
  padding: 24px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  text-align: center;
  animation: fadeIn 0.4s ease-in-out;
  background-image: url('./images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.about-content {
  color: #333;
  font-size: 16px;
}

.features-container {
  text-align: center;          
  padding: 20px;               
}
.features-heading {
  font-size: 60px;            
  color: #000;             
  font-weight: bold;
  margin-bottom: 10px;          
}

.features-subhead {
  font-size: 40px;            
  color: #1c1c1c;               
  font-weight: 500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/*make responsive after 758 px*/
@media (max-width: 768px) {
  
  .landing{
    width: 100%;
  }
  .features-heading {
    font-size: 40px;            
    /* color: #000;              */
    /* font-weight: bold; */
    margin-bottom: 10px;          
  }
  .features-subhead {
    font-size: 30px;            
    color: #1c1c1c;               
    /* font-weight: 500; */
  }
  
  
}


